@font-face {
    font-family: 'Yozakura Regular';
    src: url('fonts/YozakuraJP-Regular.woff2') format('woff2'),
        url('fonts/YozakuraJP-Regular.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Yozakura Light';
    src: url('fonts/YozakuraJP-Light.woff2') format('woff2'),
        url('fonts/YozakuraJP-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

:root {
  font-size: 16px;
  --main-color: #a3611c;
  --top-color: #92c970;
  --center-color: #fffdec;
  --bottom-color: #ffbadf;
  --background-color: #c5a16f;
  font-family: 'Yozakura Light', Arial, Helvetica, sans-serif;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

input {
  border: none;
  outline: none;
  background: transparent;
  font: inherit;
}

body {
  min-height: 100vh;
  display: grid;
  grid-template-rows: 6rem 1fr;
  grid-template-columns: 1fr 1fr 1fr;
}

header {
  grid-column: 1 / 4;
  grid-row: 1 / 2;
  background-color: var(--background-color);
  color: var(--main-color);
  font-size: 2.5rem;
  position: relative;
  box-shadow: inset 0 0 0 2px var(--main-color);
}

header::before {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 2rem;
  content: "Three Dango Brothers";
}

header::after {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, 50%);
  height: 0.1rem;
  width: 30rem;
  content: "";
  z-index: 20;
}

nav {
  display: flex;
  justify-content: center;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, 50%);
}

nav > button {
  align-self: end;
  margin: 0rem 0.2rem;
  font-size: 1.5rem;
  width: 6rem;
  height: 6rem;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: transform 0.2s ease-in-out;
  font-family: 'Yozakura Light', Arial, Helvetica, sans-serif;
}

nav > button:hover {
  transform: scale(1.1);
}

nav > button:first-child {
  background-color: var(--top-color);
  --color-dark: color-mix(in srgb, var(--top-color) 80%, black 20%);
  --color-darker: color-mix(in srgb, var(--top-color) 80%, black 40%);
  border: 2px solid var(--color-dark);
  color: var(--color-darker);
}

nav > button:nth-child(2) {
  background-color: var(--center-color);
  --color-dark: color-mix(in srgb, var(--center-color) 80%, black 20%);
  --color-darker: color-mix(in srgb, var(--center-color) 80%, black 40%);
  border: 2px solid var(--color-dark);
  color: var(--color-darker);
}

nav > button:last-child {
  background-color: var(--bottom-color);
  --color-dark: color-mix(in srgb, var(--bottom-color) 80%, black 20%);
  --color-darker: color-mix(in srgb, var(--bottom-color) 80%, black 40%);
  border: 2px solid var(--color-dark);
  color: var(--color-darker);
}

#content {
  grid-column: 1 / 4;
  grid-row: 2 / 3;
  background-image: url('./img/dango.png');
  background-size: cover;
  min-height: calc(100vh - 6rem);
  display: flex;
  flex-direction: column;
  padding: 4rem 8rem;
}

#content > div {
  flex: 1;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

#content img {
  width: 20vw;
  height: auto;
}

#content > div > div {
  font-size: 2rem;
  color: var(--center-color);
  text-shadow: 1px 1px 2px var(--background-color);
}

